<%= content_for :header do %>
<%= render :partial => "/employees/emp_hub"%>
<% end %>
<div id="empty">
</div>
<div id="fieldset">
<fieldset id="fieldsetcon">
<legend>Search</legend>
<%= form_tag department_index_path, :method => 'get' do %>
<table>
<tr><td><%= text_field_tag :search, params[:search], :class =>"search_input" %></td>
<td><input type="submit" value="Search", id="button"></td></tr>
</table>
<% end %>
</fieldset>
</div>
<table id="search_employees">
    <tbody>
         <tr>
             <th>Department ID</th>
             <th>Department Name</th>
          </tr>
<% @departments.each do |dep| %>

	<tr id="emp_<%=dep.depid%>">
      	<td><%= link_to dep.depid, :action => "show", :id =>dep.id %></td>
           <td><%=dep.depname%></td>
          </tr>
     <% end %>
   </tbody>
</table>

<%= will_paginate @departments%>




