<%= content_for :header do %>
<%= render :partial => "/employees/emp_hub"%>
<% end %>
<%= form_for :department, :url =>{:action => 'create'} do |i| -%>
<div id="salarytype">
<fieldset>
<legend><font color='blue'>Add Department</font></legend>
<table cellpadding="10" cellspacing="10" >
<tr><td>Department_ID</td>
<td><%= i.text_field :depid, :size=>'20',:maxlength =>'100' %></td></tr>
<tr><td>Department_Name</td>
<td><%= i.text_field :depname, :size=>'20',:maxlength =>'100' %></td></tr>
</table></br>
<center><input type="submit" value="Create" id="button"><input type="submit" value="Cancel" id="button"></center>
</fieldset>

</div>
<% end %>

