<table id="search_employees">
    <tbody>
         <tr>
             <th>Emp id</th>
             <th>Emp Name</th>
             <th>DOB</th>
             <th>Date of Joining</th>
             <th>Designation</th>
             
         </tr>
     <% @employees.each do |emp| %>
         <tr id="emp_<%=emp.empid%>">
           <td><%= link_to emp.empid, edit_employee_path(emp) %></td>
           <td><%=emp.empname%></td>
           <td><%=emp.dob.strftime("%d-%b-%Y")%></td>
           <td><%=emp.doj.strftime("%d-%b-%Y")%></td>
           <td><%=emp.designation%></td>
     
        </tr>
     <% end %>
   </tbody>
</table>




            
 
