<%= content_for :header do %>
<%= render :partial => "/employees/emp_hub"%>
<% end %>
<%= form_for :salary, :url =>{:action => 'salcreate'} do |i| -%>

<div class="heading">
Salary Structure
</div>
<hr>
<div id="empsalary">
<table cellpadding="8" cellspacing="4" style="position: absolute; top: 210px">
<tr><td><b>Employee_ID   </b></td>
<td> <%= collection_select(:empid,Employee.all, :id, :empid) %></td></tr></br></br>
<tr><td><b>EmployeeName</b></td>
<td><%= i.text_field :empname, :size=>'20',:maxlength =>'100' %></td></tr></br></br>
<tr><td><b>Basic Salary</b></td>
<td><%= i.text_field :basicpay, :size=>'20',:maxlength =>'100' %></td></tr>
<tr><td><b>Dearness Allowance</b></td>
<td><%= i.text_field :da, :size=>'20',:maxlength =>'100' %></td></tr>
<tr><td><b>House Rent Allowance</b></td>
<td><%= i.text_field :hra, :size=>'20',:maxlength =>'100' %></td></tr>
<tr><td><b>Conveyance Allowance</b></td>
<td><%= i.text_field :ca, :size=>'20',:maxlength =>'100' %></td></tr>
<tr><td><b>Special Allowance</b></td>
<td><%= i.text_field :ca, :size=>'20',:maxlength =>'100' %></td></tr>
<tr><td><b>Medical Reimbursement </b></td>
<td><%= i.text_field :medical, :size=>'20',:maxlength =>'100' %></td></tr>
<tr><td><b>Leave Travel Allowance </b></td>
<td><%= i.text_field :leavetransallowance, :size=>'20',:maxlength =>'100' %></td></tr>
<tr><td><b>Bonus / Incentive </b></td>
<td><%= i.text_field :bonus, :size=>'20',:maxlength =>'100' %></td></tr>
<tr><td><b>Gross Earnings</b></td>
<td><%= i.text_field :gross_salary, :size=>'20',:maxlength =>'100' %></td></tr>
<tr><td><b>Salary Deduction</b></td>
<td><%= i.text_field :salaryded, :size=>'20',:maxlength =>'100' %></td></tr>
</table>
<center><tr><td><input type="submit" value="Submit" id="button"></td><td><input type="submit" value="Cancel" id="button"></td></tr></center>
</div>

<% end %>


