<%= content_for :header do %>
<%= render :partial => "/employees/emp_hub"%>
<% end %>
<div id="loginwindow1">
<center><h3>Change password</h3><br/>
<%= form_for :user, :url => {:action => 'change_password'} do |f|-%>
<%#= f.error_messages_for 'user' %>
<label for="user_password">Choose password:</label><br/>
<%= f.password_field :password, :size => 20, :value=>"" %><br/><br/>
<label for="user_password_confirmation">Confirm password:</label><br/>
<%= f.password_field :password_confirmation, :size => 20, :value=>"" %><br/></br>
<%= f.submit "Reset",  :id => "button" %></center>
</div>
<% end %>
